name: "Release TapToQR"

on:
  workflow_dispatch:
    inputs:
      skip-update:
        type: boolean
        description: "Skip the version update step"
        required: true
        default: false
      release-type:
        type: choice
        description: Which type of release to create?
        required: true
        default: patch
        options:
          - patch
          - minor
          - major
      publish-firefox:
        type: boolean
        description: Should the Firefox Addon be published?
        required: true
        default: true
      publish-chrome:
        type: boolean
        description: Should the Chrome Extension be published?
        required: true
        default: true
      publish-edge:
        type: boolean
        description: Should the Edge Extension be published?
        required: true
        default: true
      publish-github:
        type: boolean
        description: Should the Github Release be published?
        required: true
        default: true

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  # Get the Current Version and Bump it depending on the release-type input
  update-version:
    name: "Update TapToQR Version"
    runs-on: ubuntu-latest
    permissions: write-all
    outputs:
      new_version: ${{ steps.bump_version.outputs.new_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Ensure branch is main
        if: github.ref != 'refs/heads/main'
        run: |
          text="Publish a new version can only be done from the main branch."
          echo "::error title=Wrong Branch::$text"
          exit 1

      - name: Read current version
        run: |
          echo "Current version: ${{ vars.VERSION }}"

      - name: Bump version
        id: bump_version
        if: ${{ github.event.inputs.skip-update == 'false' }}
        run: |
          # Retrieve the increment type from the GitHub Actions input
          increment="${{ inputs.release-type }}"
          
          # Split the VERSION variable into its major, minor, and patch components
          IFS='.' read -r -a parts <<< "${{ vars.VERSION }}"
          
          # Check if the VERSION variable was split correctly
          if [ "${#parts[@]}" -ne 3 ]; then
          echo "Invalid version format"
          exit 1
          fi
          
          major=${parts[0]}
          minor=${parts[1]}
          patch=${parts[2]}
          
          # Increment the appropriate version component
          if [ "$increment" = "major" ]; then
          major=$((major + 1))
          minor=0
          patch=0
          elif [ "$increment" = "minor" ]; then
          minor=$((minor + 1))
          patch=0
          elif [ "$increment" = "patch" ]; then
          patch=$((patch + 1))
          else
          echo "Invalid increment type"
          exit 1
          fi
          
          # Construct the new version string
          new_version="$major.$minor.$patch"
          
          # Output the new version
          echo "New version: $new_version"
          
          # Set the output variable for GitHub Actions
          echo "new_version=$new_version" >> $GITHUB_OUTPUT

      - name: Update version var
        id: write_version
        if: ${{ github.event.inputs.skip-update == 'false' }}
        env:
          GITHUB_TOKEN: ${{ secrets.VAR_UPDATE_GITHUB }}
        run: |
          gh variable set VERSION --body "${{ steps.bump_version.outputs.new_version }}"

  build:
    uses: ./.github/workflows/build.yml
    with:
      VERSION: ${{ needs.update-version.outputs.new_version }}
    permissions:
      contents: read
    needs:
      [
        update-version
      ]

  release-github:
    runs-on: ubuntu-latest
    name: "Create TapToQR Github Release"
    if: ${{ github.event.inputs.publish-github == 'true' }}
    permissions: write-all
    needs:
      [
        build
      ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download Artifact
        uses: actions/download-artifact@v6

      - name: Create Release
        env:
          GH_TOKEN: ${{github.token}}
        run: |
          echo "Creating release v${{needs.build.outputs.VERSION}}"
          gh release create v${{needs.build.outputs.VERSION}} --generate-notes
          gh release upload v${{needs.build.outputs.VERSION}} TapToQR-${{needs.build.outputs.VERSION}}.zip

  release-firefox:
    runs-on: ubuntu-latest
    name: "Create TapToQR Firefox Release"
    if: ${{ github.event.inputs.publish-firefox == 'true' }}
    permissions:
      contents: read
    needs:
      [
        build
      ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download Artifact
        uses: actions/download-artifact@v6

      - uses: wdzeng/firefox-addon@b78a4d0148897b072ef18aff65a6bd793e8109be
        name: "Upload to Firefox Addon Store"
        with:
          addon-guid: "taptoqr@moritzreis.dev"
          xpi-path: TapToQR-${{needs.build.outputs.VERSION}}.zip
          self-hosted: false
          jwt-issuer: ${{ secrets.FIREFOX_JWT_ISSUER }}
          jwt-secret: ${{ secrets.FIREFOX_JWT_SECRET }}

  release-chrome:
    runs-on: ubuntu-latest
    name: "Create TapToQR Chrome Release"
    if: ${{ github.event.inputs.publish-chrome == 'true' }}
    permissions:
      contents: read
    needs:
      [
        build
      ]

    env:
      EXTENSION_ID: "ommdikomjapdndpedljobeecepeopjmp"
      CLIENT_ID: ${{ secrets.CI_GOOGLE_CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.CI_GOOGLE_CLIENT_SECRET }}
      REFRESH_TOKEN: ${{ secrets.CI_GOOGLE_REFRESH_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download Artifact
        uses: actions/download-artifact@v6

      - name: "Setup Google Webstore CLI"
        run: |
          npm install -g chrome-webstore-upload-cli

      - name: "Upload to Chrome Webstore"
        run: |
          unzip TapToQR-${{needs.build.outputs.VERSION}}.zip
          rm TapToQR-${{needs.build.outputs.VERSION}}.zip

          chrome-webstore-upload

  release-edge:
    runs-on: ubuntu-latest
    name: "Create TapToQR Edge Release"
    if: ${{ github.event.inputs.publish-edge == 'true' }}
    permissions:
      contents: read
      id-token: write
    needs:
      [
        build
      ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download Artifact
        uses: actions/download-artifact@v6

      - name: Prepare Artifact
        run: |
          unzip TapToQR-${{needs.build.outputs.VERSION}}.zip -d './TapToQR-addon'
          rm TapToQR-${{needs.build.outputs.VERSION}}.zip
          cd TapToQR-addon
          FILE="manifest.json"
          jq 'del(.browser_specific_settings)' "$FILE" > temp_manifest.json && mv temp_manifest.json "$FILE"
          # zip again
          zip -r TapToQR-${{needs.build.outputs.VERSION}}.zip ./*

      - uses: wdzeng/edge-addon@d4db1eea77297a24d799394dec87e8912e0902f9
        with:
          product-id: "1cc708c2-05e8-4339-9fdb-ddca04acf678"
          zip-path: TapToQR-addon/TapToQR-${{needs.build.outputs.VERSION}}.zip
          api-key: ${{ secrets.MICROSOFT_API_KEY }}
          client-id: ${{ secrets.MICROSOFT_CLIENT_ID }}
